:root {
  --primary-btn: #ff5e15;
  --secondary-btn: #265a92;
  --font-family-primary: "Geist", sans-serif;
  --font-family-secondary: "Inter", sans-serif;
  --spacing-xl: 32px;
  --border-radius: 8px;
}

/* hero page css */
.Hero-headline h1 {
  font-weight: 700;
  font-size: 60.88px;
  line-height: 70.4px;
  letter-spacing: -2px;
}
.Hero-headline p {
  font-weight: 500;
  margin-top: 24px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.tagline {
  font-weight: 700;
  font-size: 17.02px;
  line-height: 30.6px;
  color: #ff5e15;
  margin-bottom: 20px;
}

